* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg1: #5c7ff6;
  --bg2: #335ff4;
  --bg3: #ebeffd;
}
body {
  background: var(--bg3);
}
html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bg3);
  z-index: 9999;
  box-sizing: border-box;
}

.logo a {
  color: var(--bg1);
  font-weight: bold;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.closeico {
  display: none;
}
#about-me {
  width: 60%;
  margin: auto;
  display: grid;
  gap: 30px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-me-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  width: 350px;
  height: 350px;
  padding: 15px;
  box-sizing: border-box;
  margin: auto;
}
.about-me-image-box img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #ced6ff;
  background: var(--bg3);
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ico {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.ico i {
  color: white;
  padding: 7px;
  background: var(--bg2);
  border-radius: 50%;
  font-size: 25px;
}
#featured {
  width: 60%;
  margin: 50px auto;
}
.featured-font {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  font-size: 35px;
  justify-content: center;
  color: var(--bg2);
}
.featured-font span:nth-child(2) {
  color: var(--bg2);
  font-family: "Times New Roman", Times, serif;
}
.featured-font span:nth-child(4) {
  color: var(--bg2);
  font-family: "Times New Roman", Times, serif;
}
.featured-font span:nth-child(3) {
  color: var(--bg2);
  font-weight: bolder;
}
.featured-font span:nth-child(5) {
  color: var(--bg2);
  font-weight: bolder;
}
.featured-font span:nth-child(1) {
  color: var(--bg2);
  font-weight: bolder;
}

.featured-top {
  display: grid;
  gap: 10px;
  text-align: center;
}

#footer {
  background: var(--bg2);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}

#foot {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.store {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.social i {
  color: var(--bg2);
  font-size: 30px;
  background: white;
  border-radius: 50% !important;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50% !important;
}
.social1 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.social1 i {
  color: white;
  font-size: 30px;
  background: var(--bg2);
  border-radius: 50% !important;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50% !important;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: white;
}
.contact-bottom {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}
.contact-bottom-child {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}
.contact-content span:nth-child(1) {
  color: darkgray;
}
.contact-content span:nth-child(2) {
  font-weight: 600;
}
.contact-ico i {
  font-size: 30px;
  color: var(--bg2);
  background: var(--bg3);
  padding: 8px;
  border-radius: 50%;
}
.contact-content {
  display: flex;
  flex-direction: column;
  line-height: normal;
  gap: 5px;
}
.contact-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testimonial {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 50px;
}
.testimonial-card {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  gap: 15px;
  justify-content: center;
  text-align: center;
}
.testimonial-top {
  text-align: center;
}
.textimonial-card-child {
  padding: 15px 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  display: grid;
  gap: 15px;
  align-items: center;
  background-color: white;
}
.testimonial-image {
  width: 60px;
  border-radius: 50%;
}
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 35px;
}
.services-top {
  text-align: center;
  display: grid;
  gap: 8px;
}
.service-section {
  display: grid;
  gap: 45px;
}
.service-section-child-consultation,
.service-section-child-courses {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.service-section-child-courses {
  width: 60%;
  margin: auto;
}

.service-section-child-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.service-section-child-tab button {
  padding: 5px 20px;
  border-radius: 9999px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: white;
  font-weight: 400;
  cursor: pointer;
}
.service-section-child-bottom {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  gap: 15px;
}
.service-section-child-bottom-main {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  border-radius: 16px;
  display: grid;
  gap: 15px;
  background-color: white;
}
.service-section-child-bottom-main button {
  padding: 10px 20px;
  width: 100%;
  border-radius: 9999px;
  color: white;
  background: var(--bg2);
  border: none;
  cursor: pointer;
}
.service-section-child-bottom-main button:hover {
  background: var(--bg1);
}

.service-section-img-box img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 5px;
}
.service-section-img-box i {
  padding: 10px;
  background: var(--bg3);
  border-radius: 50%;
  font-size: 15px;
  object-fit: contain;
}
.slot {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  color: #868686;
}
.gmeet {
  width: 20px !important;
  padding: 10px !important;
  background: var(--bg3);
  border-radius: 50% !important;
}
#Consultation,
#Courses,
#Community {
  background: white;

  cursor: pointer;
}
.active {
  background: var(--bg2) !important;
  color: white;
}
.list {
  display: grid;
  gap: 10px;
}
.list > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list i {
  background: black;
  color: white;
  padding: 5px;
  border-radius: 50%;
}
.service-section-club {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  justify-content: center;
}
.service-section-club-child-left {
  display: grid;
  gap: 15px;
}
.service-section-club-child-right {
  border-radius: 16px;
  display: flex;
  justify-content: right;
}
.service-section-club-child-right img {
  width: 80%;
  height: 100%;
}

.main-btn {
  padding: 10px 20px;
  width: 50%;
  border-radius: 9999px;
  color: white;
  background: var(--bg2);
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.main-btn:hover {
  background: var(--bg1);
}
#media_section {
  display: grid;
  gap: 35px;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  grid-template-columns: calc(60% + 20px);
}
.media_section_main {
  position: relative;
}
.media_section_main i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 50px;
  transform: translate(-50%, -50%);
  margin: 0;
}
.media_section-img {
  width: 100%;
  border-radius: 16px;
}
#viewsection {
  text-align: center;
  color: white;
}
.view_main-child-second {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: self-end;
}
.view_main-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 460px;
  margin: auto;
}
.view_main-child h1 {
  font-weight: 400;
}

.view_main-child-second img {
  height: 500px;
  object-fit: contain;
}
.view_main-child-second img:nth-child(2) {
  height: 300px;
}
.view_main {
  display: grid;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  background: var(--bg2);
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
}
.viewsection-btn,
.banner-btn {
  padding: 10px 50px;
  width: max-content;
  border-radius: 9999px;
  color: var(--bg2);
  background: var(--bg3);
  border: none;
  cursor: pointer;
}
.banner-btn:hover {
  background: white;
}
.viewsection-btn:hover {
  background: white;
}
#banner {
  display: grid;
  grid-template-columns: 25% 25%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: var(--bg2);
  color: white;
  min-height: 540px;
  margin-top: 43px;
}
.banner-image {
  background: linear-gradient(45deg, var(--bg1), var(--bg3), var(--bg2));
  height: 400px;
  position: relative;
  margin-top: 20px;
  background-size: 200%;
  border-radius: 16px;
}
.banner-image img {
  width: 100%;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0px 4px 6px white);
}
.banner-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.banner-btn2 {
  display: none;
}
.banner-btn {
  display: block;
}

.service-section-child-courses,
.service-section-child-consultation {
  display: none;
}
.viewsection-btn2 {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 18px;
  }
  #media_section {
    grid-template-columns: 100%;
  }
  .navbar {
    justify-content: space-between;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0;
    background-color: var(--bg2);
    z-index: 1;
    width: 200px;
    padding: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    height: 100vh;
  }

  .menu.activeee {
    transform: translateX(0);
  }
  .menu li {
    color: white;
    margin-top: 15px;
    padding: 15px;
  }
  .menu li a {
    color: white;
  }
  .menu-icon {
    display: block;
  }

  .menu-icon i {
    color: var(--bg2);
  }

  .closeico {
    display: block;
  }
  .closeico i {
    color: var(--bg3);
  }

  .viewsection-btn2 {
    display: block;
    padding: 10px 50px;
    border-radius: 9999px;
    color: var(--bg2);
    background: var(--bg3);
    border: none;
    cursor: pointer;
  }
  .viewsection-btn {
    display: none;
  }

  .banner-child {
    margin-bottom: 70px;
    padding: 20px 0;
  }
  .contact-bottom {
    flex-direction: column;
  }
  .contact-top {
    padding: 0 20px;
    text-align: center;
  }
  .service-section-child-bottom {
    grid-template-columns: 100%;
  }
  .testimonial-card {
    grid-template-columns: 100%;
    padding: 0 15px;
  }
  #media_section {
    padding: 0 15px;
  }
  #banner {
    grid-template-columns: 100%;
    padding: 10px;
  }
  #services {
    padding: 0 15px;
  }
  .service-section-club {
    grid-template-columns: 100%;
  }
  .service-section-club-child-right {
    justify-content: center;
  }
  .main-btn {
    display: none;
  }
  #foot {
    flex-wrap: wrap;
  }
  .view_main-child-second img {
    height: 200px;
  }
  .view_main-child {
    width: 200px;
  }
  .view_main-child h1 {
    font-size: 16px;
  }
  #about-me {
    width: 100%;
  }
  .about-content {
    padding: 0 15px;
  }
  .view_main-child-second img:nth-child(2) {
    height: 119px;
  }
  .service-section-club-child-right img {
    width: 100%;
  }
  .service-section-child-courses {
    width: 100%;
  }
  .featured-font {
    font-size: 18px;
  }
  #featured {
    width: 100%;
  }
  .banner-btn2 {
    display: block;
    padding: 10px 50px;
    border-radius: 9999px;
    color: var(--bg2);
    background: var(--bg3);
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .banner-btn {
    display: none;
  }
}
